# Database
MONGODB_URI=

# Authentication
NEXTAUTH_SECRET=
NEXT_PUBLIC_APP_URL=http://localhost:3000

# AI
GOOGLE_GENERATIVE_AI_API_KEY=

# SMTP Email
GMAIL_USER=
GMAIL_PASS=

# Optional: Resend
RESEND_API_KEY=
RESEND_EMAIL=

# Support
SUPPORT_EMAIL=
